##Importing/Exporting Files
from google.colab import drive
drive.mount('/content/drive')
from zipfile import ZipFile
import json
import os
import glob


##Data Manipulation and Extraction
import pandas as pd
import numpy as np
import re
from ast import literal_eval
from collections import Counter


##Twint 
!pip3 install --upgrade git+https://github.com/twintproject/twint.git@origin/master#egg=twint
!pip3 install --upgrade aiohttp_socks
import twint
import nest_asyncio
from datetime import date, timedelta


##Visualizations
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns




##Clustering
from sklearn.cluster import AgglomerativeClustering
from sklearn.metrics import silhouette_score
from sklearn.metrics import davies_bouldin_score
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer, SilhouetteVisualizer
import matplotlib.pyplot as plt
from sklearn.cluster import DBSCAN
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
import scipy.cluster.hierarchy


##Network Analysis
import networkx as nx


##NLP Analysis
! pip install vaderSentiment
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
! pip install emoji --upgrade
import emoji
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator
import functools
import operator
import string


##Modeling
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score